.home-bg {
  background-image: url("/background1.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 200vh;
}

.home-bg .footer {
  margin-top: 200px;
}

/* MOBILE BACKGROUND */
@media (max-width: 768px) {
  .home-bg {
    background-image: url("/mobile-background.png");

    /* adjust how it fits */
    background-size: cover; /* or try 100% auto */
    background-position: top center;

    min-height: 120vh;
  }
}