.home-bg {
  background-image: url("/background1.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 200vh;
}

.home-bg .footer {
  margin-top: 200px;
}